/*
 * Index Page (sp)
*/
@media screen and (max-width: 760px) {
    .index-bg {
        span:nth-child(1) { top:  30vmin; }
        span:nth-child(2) { left: 30vmin; }
        span:nth-child(3) { right: 15vmin; }
    }
    .index-chisato {
        display: none; // 已移至 Profile 页面
    }
    .index-logo {
        width: 80vmin;
        left: calc(50% - 40vmin);
        
        .logo-main {
            .logo-chars-row {
                margin-bottom: 1.5vmin;
            }
            
            .logo-char {
                font-size: 7vmin;
                margin: 0 0.2vmin;
                
                &.logo-char-first {
                    width: 7.5vmin;
                    height: 7.5vmin;
                }
            }
            
            .logo-sub-text {
                &.logo-sub-below {
                    font-size: 2.4vmin;
                    margin-top: 0.6vmin;
                }
                
                &.logo-sub-above {
                    font-size: 2.4vmin;
                    top: -2.5vmin;
                }
            }
            
            .logo-char-group {
                .logo-char {
                    &.logo-char-misaligned-1 {
                        transform: translateY(-0.25vmin);
                    }
                    
                    &.logo-char-misaligned-2 {
                        transform: translateY(0.15vmin);
                    }
                    
                    &.logo-char-misaligned-3 {
                        transform: translateY(-0.08vmin);
                    }
                }
            }
        }
        
        .logo-line {
            .logo-asterisk {
                font-size: 2.5vmin;
            }
            
            .logo-line-thick {
                height: 0.4vmin;
            }
            
            .logo-line-thin {
                top: 0.6vmin;
                height: 0.12vmin;
            }
        }
    }
    .index-sns {
        bottom: 12vmin;
        width: 100%;
        transform: rotate(0);
        .inner {
            width: 100%;
            text-align: center;
            left: 0; top: calc(50% - 6vmin);
            a {
                width: 45px; height: 45px;
                font-size: 26px;
                line-height: 48px;
                
                // 华为图标特殊样式
                .huawei-icon {
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 26px;
                        height: 26px;
                        background-image: url("/images/index/huawei.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    #index-button {
        width: 20vmin; height: 20vmin;
    }
    #index-button[data-state="init"], #index-button[data-state="close"] {
        .btn-main .short-id-2 span {
            &:nth-child(2) { transform: translateY(-3vmin); }
            &:nth-child(3) { transform: translateY( 3vmin); }
        }
    }
}